:root {
    --primary-color: #7d6d92;
    --primary-color-light: #9b93bf;
    --primary-color-extralight: rgb(226,219,236);
    --text-color: white;
    --text-color-dark: #2e2e36;
    --secondary-color: #626474;
    --color-3: #A4CEAF;
    --color-4: #F0E6EF;
}

body {
    background-color: var(--primary-color-extralight);
    color: var(--text-color-dark);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-light);
    border-color: var(--primary-color-light);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--primary-color-light)!important;
}

.nav-link {
    color: var(--primary-color)!important;
}
